
#col-6{
    color: rgb(238, 218, 202);
    background-color: rgb(241, 103, 98);
}

#col-5{
    color: rgb(238, 218, 202);
    background-color: rgb(241, 103, 98);
    font-size: 20px;
}
body {
    background: url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

.churros{
 padding: 15px;   
}
header{
    text-align: center;
}

.boton{
    color: rgb(247, 247, 247);
    background-color: rgb(235, 129, 103);
    font-size: 20px;
    width: 189px;
}
h1{
    background-color: rgba(255, 255, 255, 0.699);
    text-align: center;
}
p{
    text-align: center;
}
h2{
    background-color: rgba(105, 36, 36, 0.61);
    text-align: center;
    margin: 45px;
    color: rgb(255, 255, 255);
}

h3{
    text-align: center;
    margin: 60px;
    color: rgb(235, 182, 102);
    background-color: rgb(255, 255, 255);
}
